@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-index {
  margin-top: -21px;
}

.main-container {
  flex-grow: 1;
}

/* Центровка страницы */
.page-container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 40px;
  position: relative;
}

.page-main-container {
  width: 1160px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* Лого */
.navigation-logo {
  position: absolute;
  top: 20px;
  left: 60px;
}

.navigation-logo:hover {
  opacity: 0.6;
}

.navigation-logo:active {
  opacity: 0.3;
}

.navigation-logo:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Хедер главной страницы */
.main-header {
  background-color: #ffe17f;
}

/* Верхняя часть страницы пользователя */
.user-container {
  display: flex;
  align-items: flex-start;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 45px;
}

/* Поисковое поле */
.search-form {
  display: flex;
  position: relative;
}

.search-field {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 10px 8px 46px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  border-right: 1px solid #000000;
  border-radius: 50px 0 0 50px;
  min-width: 358px;
  box-sizing: border-box;
  position: relative;
}

.search-field:focus {
  outline: none;
}

.search-field:focus + .for-focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.search-form:disabled {
  opacity: 0.3;
}

/* Контейнер поиска */
.search-container {
  display: flex;
}


/* Иконка поиска */
.search-form::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  background-image: url("../images/header/search-icon.svg");
  background-repeat: no-repeat;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
}

/* Кнопка поиска */
.search-button {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  min-width: 160px;
  background-color: transparent;
  border: 2px solid #000000;
  border-left: 1px solid #000000;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.search-button:focus-visible {
  outline: none;
}

.search-button:focus-visible.search-button::before {
  outline: 2px solid #af4fff;
}

.search-button::before {
  content: "";
  width: 100%;
  height: 100%;
  outline-offset: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.search-button:disabled {
  opacity: 0.3;
}


/* Контейнер кнопок пользователя */
.user-buttons-container {
  margin: -4px 0 0 26px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto 1fr 104px 113px;
  gap: 28px;
  list-style-type: none;
  padding-left: 0;
}

/* Кнопки пользователя */
.user-button {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  padding: 9px 0 0;
  border: none;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat;
}

.user-button:hover {
  opacity: 0.6;
}

.user-button:active {
  opacity: 0.3;
}

.user-button:focus-visible {
  outline: none;
}

.user-button:focus-visible.user-button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  padding-right: 3px;
  outline: 2px solid #af4fff;
  align-self: flex-end;
}

/* Войти */
.login-button {
  background-image: url("../images/header/login-icon.svg");
  background-position: 0 17px;
  padding-left: 27px;
}

.login-item {
  grid-column: 1 / 2;
  display: flex;
  flex-wrap: wrap;
}

/* Сравнить */
.compare-button {
  background-image: url("../images/header/compare-icon.svg");
  background-position: 5px 17px;
  padding-left: 27px;
}

.compare-item {
  grid-column: 3 / 4;
  margin-left: -7px;
}

.index-page .compare-item {
  margin-left: 0;
}

/* Корзина */
.recycle-bin-button {
  background-image: url("../images/header/recycle-bin-icon.svg");
  background-position: top 14px right 85px;
}

.recycle-bin-item {
  grid-column: 4 / 5;
  position: relative;
  margin-left: -6px;
}

.index-page .recycle-bin-item {
  margin-left: 0;
}

/* Количество покупок */
.number-of-goods {
  background-color: #ffffff;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 17px;
  margin-top: 4px;
  margin-right: 18px;
  position: relative;
  left: -4px;
}

/* Поповер */
.popover {
  position: absolute;
  top: 45px;
  left: -130px;
  z-index: 3;
  box-sizing: border-box;
  width: 320px;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  background-color: #000000;
  min-height: 186px;
  display: none;
}

/* Открытие поповера */
.popover-open {
  display: block;
}

.popover::after {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 6px solid #000000;
  transform: translate(-50%);
}

.popover-content {
  height: 100%;
}

.cart-items-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  padding: 20px;
  border-bottom: 1px solid #1a1a1a;
  display: flex;
  justify-content: space-between;
  gap: 38px;
}

.cart-link {
  text-decoration: none;
  color: #ffffff;
  display: flex;
}

.cart-link:hover {
  opacity: 0.6;
}

.cart-link:active {
  opacity: 0.3;
}

.cart-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-image {
  margin-right: 23px;
}

.cart-item-name {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.delete-cart-item {
  border: none;
  background-color: #000000;
  padding: 0;
  cursor: pointer;
  align-self: flex-start;
}

.delete-cart-item:hover {
  opacity: 0.6;
}

.delete-cart-item:active {
  opacity: 0.3;
}

.delete-cart-item:focus-visible {
  outline: none;
}

.delete-cart-item:focus-visible > .delete-button-svg {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.popover-number-of-goods {
  list-style-type: none;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
}

.amount-of-goods {
  font-size: 16px;
  line-height: 20px;
}

.total-price {
  font-size: 16px;
  line-height: 20px;
}

.open-cart-item {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  margin: 19px;
  padding: 15px 24px;
  display: flex;
}

.open-cart-item:hover {
  background-color: #ffe17f;
}

.open-cart-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.open-cart-item:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.open-cart-item:disabled {
  color: rgba(0, 0, 0, 0.3);
}

/* Навигация */
.navigation {
  margin: 31px 60px 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 21px;
}

/* Каталог товаров */
.catalog-button-wrapper {
  position: relative;
  z-index: 1;
}

.header-catalog-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 0;
  z-index: 1;
}

/* Раскрывающийся каталог товаров */
.catalog-button-list {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.catalog-button-list:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Декоративный плюсик */
.decorative-plus-sign {
  width: 46px;
  height: 46px;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.decorative-plus-sign::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: #000000;
  transform: translate(-50%);
}

.decorative-plus-sign::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: #000000;
  transform: translate(-50%) rotate(90deg);
  transition: transform 0.3s;
}

/* Вращение декоративного плюса */
.catalog-button-wrapper:hover .decorative-plus-sign::after {
  transform: translate(-50%) rotate(360deg);
}

.catalog-button-wrapper:hover .decorative-plus-sign {
  opacity: 1;
}

/* Поповер каталога товаров */
.catalog-popover {
  width: 1160px;
  min-height: 75px;
  padding: 24px 60px 27px 60px;
  color: #242424;
  background-color: #ffe17f;
  position: absolute;
  top: 33px;
  left: -60px;
  box-sizing: border-box;
  cursor: default;
  display: none;
  grid-template-columns: 252px 211px 211px;
}

.catalog-button-list:hover + .catalog-popover {
  display: grid;
}

.catalog-popover:hover {
  display: grid;
}

.catalog-column-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
  text-transform: none;
  letter-spacing: normal;
}

.catalog-column-link:hover {
  opacity: 0.6;
}

.catalog-column-link:active {
  opacity: 0.3;
}

.catalog-column-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog-column {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto;
  justify-items: start;
  align-content: start;
}

.catalog-column:first-child {
  margin-right: 30px;
}

.catalog-column-row {
  list-style-type: none;
  margin-bottom: 6px;
}

/* Ссылки о продукте */
.about-the-product {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 127px);
  gap: 45px;
  list-style-type: none;
}

.product-link {
  text-decoration: none;
  color: #000000;
}

.product-link:hover {
  opacity: 0.6;
}

.product-link:active {
  opacity: 0.3;
}

.product-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Контейнер со слайдером */
.slider-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 70px;
}

.slider-item {
  display: grid;
  grid-template-columns: 560px 1fr;
  gap: 40px;
  min-width: 1160px;
}

/* Задний фон слайдера */
.slider-group-background {
  background-color: #ffe17f;
  width: 1160px;
  min-height: 134px;
  position: absolute;
}

/* Номер слайдера */
.slider-group-number {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  position: absolute;
  right: 48px;
  bottom: 37px;
  cursor: default;
}

/* Слайдер */
.slider-image {
  grid-column: 1 / 2;
  z-index: 0;
  margin-top: -16px;
}

/* Кнопки слайдера */
.slider-group {
  position: relative;
}

.slider-controls {
  position: absolute;
  top: 224px;
  display: flex;
  justify-content: space-between;
  width: 530px;
  transform: translateY(-50%);
  z-index: 1;
  margin-left: 30px;
}

.slider-button {
  background-image: url("../images/slider/arrow.svg");
  width: 20px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slider-next {
  transform: rotate(180deg);
}

/* Описание слайдера */
.slider-description {
  grid-column: 2 / 3;
  z-index: 0;
}

.description-title {
  margin: 106px 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.description-text {
  margin: 29px 0 0;
}

.button-and-points {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

/* Стили кнопок с полоской в середине */
.button-with-strip {
  padding: 10px 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
}

.button-with-strip::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #ffe17f;
  display: flex;
  z-index: -1;
}

.button-with-strip:hover {
  background-color: #ffe17f;
}

.button-with-strip:active {
  background-color: #ffcc33;
}

.button-with-strip:active:before {
  display: none;
}

.button-with-strip:focus-visible {
  outline: 2px solid #af4fff;
}

.button-with-strip:disabled {
  opacity: 0.3;
}

/* Кнопка подробнее в слайдере */
.slider-detailed-button {
  min-width: 220px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

/* Маркеры пагинации */
.slider-pagination {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.slider-pagination-item {
  list-style-type: none;
}

.slider-pagination-button {
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: block;
  width: 12px;
  height: 12px;
}

.selected-button-slider {
  background-color: #000000;
}

/* Характерстики товара в слайдере */
.characteristics {
  margin: 48px 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}

/* Полагаю ошибка дизайнера, исправляю вот таким вот способом */
.slider-number-3 .characteristics {
  gap: 41px;
}

.characteristics-container {
  display: flex;
  flex-direction: column-reverse;
}

.characteristics-termin {
  font-size: 16px;
  margin-top: 12px;
}

.characteristics-definition {
  margin: 0;
  font-size: 36px;
}

/* Все слайды. Расположены по горизонтали справа */
.slider-number-1 {
  display: grid;
}

.slider-number-2 {
  display: none;
}

.slider-number-3 {
  display: none;
}

/* Категории товаров */
.product-categories {
  margin-top: 70px;
}

.category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.category-item {
  max-width: 160px;
}

.category-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-decoration: none;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

/* Стили для картинок товаров */
.category-image {
  background-color: #ffe17f;
  display: block;
}

.category-link:hover .category-image {
  background-color: #ffcc33;
}

.category-link:active {
  opacity: 0.3;
}

.category-link:focus-visible {
  outline: none;
}

.category-link:focus-visible .for-focus-category {
  outline: 2px solid #af4fff;
}

.for-focus-category {
  width: 100%;
  min-height: 100%;
  outline-offset: 2px;
}

.category-link-title {
  margin: 33px 0 0;
}

/* Преимущества заказа */
.delivery-advantages {
  margin-top: 82px;
  padding-bottom: 61px;
  background-color: #f0f0f0;
  position: relative;
}

/* Белый декоративный отступ в преимуществах */
.container-white-wrapper {
  background-color: #ffffff;
  height: 102px;
  width: 100%;
  position: absolute;
  top: 0;
}

.delivery-slider-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.delivery-input {
  display: none;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  width: 288px;
  flex-shrink: 0;
  align-items: start;
}

/* Декоративная черная полоска правее списка кнопок*/
.advantages-list::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 97%;
  left: 280px;
  top: 0;
  background-color: #000000;
}

.slider-inner {
  overflow: hidden;
}

.advantages-description-container {
  list-style-type: none;
  padding: 0;
  width: 300%;
  height: 100%;
  transition: transform 0.8s ease;
}

.advantages-description-container li {
  float: left;
  width: 756px;
  margin-left: 116px;
  min-height: 238px;
}

/*Переключатели слайдера*/

.delivery-input:nth-of-type(1):checked ~ .slider-inner .advantages-description-container {
  transform: translate(0);
}

.delivery-input:nth-of-type(2):checked ~ .slider-inner .advantages-description-container {
  transform: translate(-872px);
}

.delivery-input:nth-of-type(3):checked ~ .slider-inner .advantages-description-container {
  transform: translate(-1744px);
}

/*Стилизация кнопок в преимуществах*/
.advantages-button {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
  min-width: 160px;
  margin-top: 36px;
  padding: 10px 5px 0 9px;
  box-sizing: border-box;
  list-style-type: none;
  position: relative;
  cursor: pointer;
  z-index: 0;
}

.advantages-button::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
}

.advantages-button:first-of-type {
  margin-top: 64px;
}

.advantages-button:last-of-type {
  margin-bottom: 75px;
}

/*Выбранная кнопка*/
.delivery-input:nth-of-type(1):checked ~ .advantages-list .advantages-button:nth-of-type(1) {
  color: #ffe17f;
  background-color: #000000;
  width: 280px;
  text-align: start;
  padding-left: 18px;
}

.delivery-input:nth-of-type(2):checked ~ .advantages-list .advantages-button:nth-of-type(2) {
  color: #ffe17f;
  background-color: #000000;
  width: 280px;
  text-align: start;
  padding-left: 18px;
}

.delivery-input:nth-of-type(3):checked ~ .advantages-list .advantages-button:nth-of-type(3) {
  color: #ffe17f;
  background-color: #000000;
  width: 280px;
  text-align: start;
  padding-left: 18px;
}

.delivery-input:nth-of-type(1):checked ~ .advantages-list .advantages-button:nth-of-type(1)::before {
  display: none;
}

.delivery-input:nth-of-type(2):checked ~ .advantages-list .advantages-button:nth-of-type(2)::before {
  display: none;
}

.delivery-input:nth-of-type(3):checked ~ .advantages-list .advantages-button:nth-of-type(3)::before {
  display: none;
}

/*.selected-advantages-button {*/
/*  width: 280px;*/
/*  padding: 10px 18px;*/
/*  text-align: start;*/
/*  cursor: pointer;*/
/*}*/

/*.selected-advantages-button.button-with-strip::before {*/
/*  display: none;*/
/*}*/

/*.selected-advantages-button.selected-advantages-button:hover {*/
/*  color: rgba(255, 225, 127, 0.5);*/
/*  background-color: #000000;*/
/*}*/

/*.selected-advantages-button:active.button-with-strip {*/
/*  color: rgba(255, 225, 127, 0.3);*/
/*}*/

/*.selected-advantages-button:focus-visible.button-with-strip {*/
/*  outline: 2px solid #af4fff;*/
/*  outline-offset: 2px;*/
/*  z-index: 1;*/
/*}*/

.advantages-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding-top: 55px;
  max-width: 450px;
}

.advantages-description {
  margin: 35px 0 0;
  max-width: 480px;
}

/* Блоки контейнера преимуществ */
.delivery-block {
  background-image: url("../images/advantages/deliveryman.svg");
  background-repeat: no-repeat;
  background-position: 90% 59px;
}

.guarantee-block {
  background-image: url("../images/advantages/guarantee.svg");
  background-repeat: no-repeat;
  background-position: 557px 44px;
}

.credit-block {
  background-image: url("../images/advantages/credit.svg");
  background-repeat: no-repeat;
  background-position: 573px 47px;
}

/* Блок заказа доставки */
.order-delivery {
  margin-top: 70px;
  display: flex;
  background-color: #f0f0f0;
  position: relative;
}

.order-delivery-link {
  text-decoration: none;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  flex-grow: 1;
  padding: 40px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
}

.order-delivery-link::before {
  content: "";
  width: 125px;
  height: 100%;
  background-color: #ffe17f;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../images/delivery-link/delivery-link-image.svg");
  background-repeat: no-repeat;
  background-position: 39px 50%;
}

.order-delivery-link::after {
  content: "";
  width: 40px;
  height: 40px;
  background-color: rgba(220, 220, 220, 0.5);
  background-image: url("../images/delivery-link/information-sign.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: 42px;
}

.order-delivery-link:hover.order-delivery-link::before {
  background-color: #ffc700;
}

.order-delivery-link:hover.order-delivery-link::after {
  background-image: url("../images/delivery-link/information-sign-active.svg");
}

.order-delivery-link:active {
  opacity: 0.3;
}

.order-delivery-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Блок с информацией о нас и контактами */
.contacts-container {
  list-style-type: none;
  margin: 67px 0 0;
  padding: 0;
  display: flex;
  gap: 113px;
}

.contact-item {
  position: relative;
  max-width: 515px;
}

.contact-item::before {
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 47px 0 48px;
}

.contact-text {
  margin: 0 0 30px;
}

.delivery-companies {
  list-style-type: none;
  padding-left: 36px;
  margin-bottom: 35px;
}

.delivery-company-name {
  position: relative;
  font-weight: 700;
  line-height: 20px;
  margin-top: 19px;
}

.delivery-company-name::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  top: 50%;
  left: -33px;
  transform: translate(0, -50%);
  border-radius: 50%;
}

.contact-button {
  color: #000000;
  text-decoration: none;
  margin-top: 30px;
  padding-left: 23px;
  padding-right: 21px;
  max-width: 270px;
}

.contacts-subtitle {
  margin: 0;
  font-size: 24px;
  color: #444444;
}

.contacts-address-text {
  font-style: normal;
  color: #444444;
  margin: 15px 0 0;
}

.contact-number {
  color: #444444;
  font-style: normal;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  position: relative;
}

.contact-number::before {
  content: "";
  position: absolute;
  background-color: #444444;
  width: 100%;
  height: 1px;
  bottom: 3px;
}

.contacts-street {
  margin-bottom: 30px;
}

.contacts-schedule {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 36px;
  color: #444444;
}

/* разный отступ вынудил меня сделать это */
.contact-button-strange {
  color: #000000;
  text-decoration: none;
  margin-top: 30px;
  padding-left: 35px;
  padding-right: 30px;
}

/* Блок подписки на рассылку */
.subscribe-centerer-container {
  background-color: #f0f0f0;
}

.subscribe-block {
  margin: 74px auto 0;
  width: 1160px;
  padding-top: 64px;
  padding-bottom: 56px;
  display: grid;
  grid-template-columns: 350px 1fr 160px;
  row-gap: 144px;
  grid-template-areas: "title text text"
    "form form free";

}

.subscribe-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0 0 0 8px;
  grid-area: title;
}

.subscribe-text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  margin: 10px 25px 0 0;
  max-width: 528px;
  grid-area: text;
  justify-self: end;
}

/* Форма подписки */
.subscribe-form {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  display: flex;
  grid-area: form;
  max-height: 57px;
}

.field {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  padding: 16px 16px 14px 18px;
  min-width: 559px;
  border-radius: 0;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  background-color: transparent;
  box-sizing: border-box;
  color: #444444;
}

.field::placeholder {
  color: #444444;
  opacity: 0.5;
}

.field:focus-visible {
  background-color: #dcdcdc;
  outline: none;
}

/* Стилизация ошибки */
.field:invalid {
  border-bottom: 3px solid red;
}

.field:placeholder-shown {
  border-bottom: 3px solid #c4c4c4;
}

.field:disabled {
  color: #444444;
  opacity: 0.5;
}

.subscribe-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  background-color: transparent;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #cecece;
  cursor: pointer;
  padding: 0;
  min-width: 253px;
}

.subscribe-button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 3px solid #000000;
}

.subscribe-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid #000000;
}

.subscribe-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.subscribe-button:disabled {
  opacity: 0.3;
}

.its-free {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  background-image: url("../images/subscribe-block/check-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 32px;
  grid-area: free;
  align-self: start;
  margin: 13px 0 0;
}

/* Футер */
.main-footer {
  background-color: #444444;
}

.page-footer-container {
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 50px;
  max-width: 1160px;
  display: grid;
  grid-template-columns: 239px 446px 1fr;
  gap: 120px;
}

/* Первый контейнер */
.first-container {
  grid-column: 1 / 2;
  max-width: 240px;
}

/* Логотип сайта в футере */
.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-logo:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}


.footer-text {
  margin-top: 26px;
  padding-bottom: 71px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  position: relative;
}

.footer-text::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  bottom: 0;
  left: 1px;
  background-color: #ffc700;
}

/* Второй контейнер */
.second-container {
  grid-column: 2 / 3;
  margin-top: 71px;
  display: flex;
  flex-direction: column;
}

.footer-list {
  margin: 0 0 57px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
}

.footer-item-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.footer-item-link:hover {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
}

.footer-item-link:active {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
  opacity: 0.3;
}

.footer-item-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Ссылки на соц. сети */
.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-self: center;
}

.social-link {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.social-link:hover {
  background-color: #ffc700;
}

.social-link:active > svg {
  opacity: 0.3;
}

.social-link:focus-visible {
  outline: none;
}

.social-link:focus-visible > svg {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Третий контейнер */
.third-container {
  grid-column: 3 / 4;
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-self: end;
}

/* Контактный номер в футере */
.footer-number {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  margin-bottom: 62px;
}

.footer-number::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 1px;
  bottom: 3px;
}

.footer-number:hover {
  color: #ffc700;
}

.footer-number:hover.footer-number::before {
  background-color: #ffc700;
}

.footer-number:active {
  opacity: 0.3;
}

.footer-number:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Ссылка на html-academy*/
.htmlacademy-link {
  color: #ffc700;
}

.htmlacademy-link:hover {
  color: #ffffff;
}

.htmlacademy-link:active {
  color: #ffffff;
  opacity: 0.3;
}

.htmlacademy-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

/* Закрытие модального окна */
.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 60px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  border: 10px solid #000000;
  width: 920px;
  min-height: 568px;
  box-sizing: border-box;
}

/* Кнопка закрытия */
.modal-close-button {
  position: absolute;
  padding: 0;
  top: 74px;
  right: 70px;
  width: 26px;
  height: 26px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.modal-close-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0 0 35px;
}

/* Сетка содержимого модального окна */
.auth-form {
  display: grid;
  align-items: center;
  grid-template-columns: 360px 140px 180px;
  position: relative;
  column-gap: 40px;
}

.auth-form::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../images/calendar-icom.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 18px;
  right: 19px;
}

.auth-form::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../images/calendar-icom.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 100px;
  right: 19px;
}

.label-your-name {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-bottom: 13px;
  margin-top: 6px;
}

.auth-enter-field {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 18px 19px;
  background-image: url("../images/modal-window/your-name-icon.svg");
  background-repeat: no-repeat;
  background-position: top 22px right 19px;
}

.input-support {
  grid-column: 1/2;
  grid-row: 3/4;
  margin: 0 0 42px;
  font-size: 14px;
  line-height: 20px;
}

.label-your-e-mail {
  grid-column: 2/-1;
  grid-row: 1/2;
  margin-bottom: 4px;
  align-self: start;
  margin-top: 6px;
}

.enter-e-mail {
  grid-column: 2/-1;
  grid-row: 2/3;
  padding: 19px 19px;
  background-image: url("../images/modal-window/e-mail-icon.svg");
  background-repeat: no-repeat;
  background-position: top 23px right 18px;
}

.e-mail-error {
  grid-column: 2/-1;
  grid-row: 3/4;
  margin: 0 0 11px;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  align-self: start;
}

.transport-text {
  grid-column: 1/2;
  grid-row: 4/5;
  margin-bottom: 13px;
}

.transport-text-field {
  grid-column: 1/3;
  grid-row: 5/6;
  padding: 18px 20px;
}

.decrease-button {
  padding: 0;
  border: 0;
  cursor: pointer;
  left: 0;
}

.decrease-button::before {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.increase-button {
  padding: 0;
  border: 0;
  cursor: pointer;
  justify-self: end;
  right: 0;
}

.amount-button {
  grid-column: 3/4;
  grid-row: 5/6;
  width: 60px;
  height: 59px;
  position: absolute;
  top: 1px;
}

/* Состояния кнопок плюс и минус */

.increase-button:hover.increase-button::before,
.increase-button:hover.increase-button::after {
  background-color: rgba(0, 0, 0, 0.6);
}

.decrease-button:hover.decrease-button::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.amount-button:focus-visible {
  outline: 2px solid #af4fff;
  opacity: 1;
}

.increase-button:active.increase-button::before,
.increase-button:active.increase-button::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.decrease-button:active.decrease-button::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.increase-button::before {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.increase-button::after {
  content: "";
  width: 2px;
  height: 16px;
  background-color: #000000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.amount-button:disabled {
  opacity: 0.3;
}

/* Блок количества вещей */
.general-amount-container {
  grid-column: 3/4;
  grid-row: 4/6;
}

.input-amount-container {
  height: 60px;
}

.amount-container {
  grid-column: 3/4;
  grid-row: 4/5;
  display: flex;
  position: relative;
  margin-bottom: 14px;
}

.tooltip-toggle {
  width: 26px;
  height: 26px;
  background-color: #ffe17f;
  background-image: url("../images/modal-window/information-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.tooltip-text {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 19px 17px 21px 19px;
  width: 200px;
  box-sizing: border-box;
  position: absolute;
  top: 21px;
  right: 65px;
  transform: translate(50%, 15px);
  display: none;
  z-index: 1;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: -5px;
  right: 33px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 6px solid #000000;
  transform: translate(-50%);
}

.tooltip {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 34px;
  top: -3px;
}

.tooltip-toggle:focus-visible {
  outline: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.auth-amount-field {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #f0f0f0;
  grid-column: 3/4;
  grid-row: 5/6;
  text-align: center;
  justify-self: center;
  width: 100%;
  height: 60px;
  padding: 0;
  border: none;
}

.auth-amount-field:invalid {
  outline: 2px solid #ff3d3d;
}

.auth-amount-field:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Убираю стрелки инпута количества */
.auth-amount-field[type="number"] {
  -webkit-appearance: textfield;
  appearance: textfield;
}

.auth-amount-field[type="number"]::-webkit-outer-spin-button,
.auth-amount-field[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.modal-button {
  grid-row: 6/7;
  grid-column: 1/-1;
  justify-self: start;
  min-width: 203px;
  margin-top: 42px;
}

/* Шрифт во всех label */
.auth-form label {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.auth-form .modal-input {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #f0f0f0;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
}

.auth-form .modal-input:hover {
  background-color: #dcdcdc;
  border: 2px solid #dcdcdc;
}

.auth-form .modal-input:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.auth-form .modal-input::placeholder {
  opacity: 0.5;
}

.auth-form .modal-input:invalid {
  border: 2px solid #ff3d3d;
}

.auth-form .modal-input:invalid + .e-mail-error {
  color: #ff3d3d;
}

/* Стилизация каталога */

/* Заголовок */
.selfie-monopods-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 35px 0 0 60px;
}

/* Центровка внутреннего хедера */
.inner-header {
  margin: 0 auto;
  width: 1160px;
}

/* Хлебные крошки */
.breadcrumbs {
  margin: 10px 0 30px 58px;
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 38px;
}

.breadcrumbs-link {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  background-image: url("../images/breadcrumbs-arrow.svg");
  width: 4px;
  height: 7px;
  content: "";
  position: absolute;
  right: -22px;
  top: 12px;
  opacity: 0.2;
}

.breadcrumbs-item:last-child::after {
  background-image: none;
}

/* Секция каталога моноподов */
.catalog-monopods-section {
  background-color: #f0f0f0;
}

.catalog-centerer {
  margin: 0 auto;
  width: 1160px;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 70px 1fr;
}

.catalog-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
}

/* Фильтр каталога */
.catalog-filter {
  padding: 25px 60px 60px;
  box-sizing: border-box;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.filter-title {
  padding: 0;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  position: relative;
}

.filter-title::before {
  position: absolute;
  top: -15px;
  content: "";
  width: 200px;
  height: 2px;
  background-color: #000000;
}

/* Range */
.range-scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  grid-column: span 2;
  margin-top: 28px;
}

.range-bar {
  height: 2px;
  background-color: #000000;
  position: absolute;
}

.range-toggle {
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
}

.range-toggle:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.range-toggle:active {
  background-color: #000000;
  opacity: 1;
}

.range-toggle:focus-visible.range-toggle::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.toggle-min {
  top: -8px;
  left: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

/* Инпут стоимости */
.range-input {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  line-height: 18px;
  background-color: transparent;
  -webkit-appearance: textfield;
  appearance: textfield;
  border: none;
  width: 60px;
}

.range-input::placeholder {
  color: #000000;
  opacity: 0.3;
}

/* Убираем дефолтные стрелки */
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range-input:focus-visible {
  outline: 2px solid #af4fff;
}

/* Да, они стоят криво в фигме */
.label-left {
  margin-top: 9px;
  margin-left: -16px;
}

.label-right {
  margin-top: 4px;
  margin-left: -13px;
}

input[type=number] {
  -moz-appearance: textfield;
}

.cost {
  margin: 72px 0 0;
  padding: 0;
  width: 200px;
  border: none;
  display: grid;
  grid-template-columns: repeat(2, 100px);
}

/* Контейнер чекбоксов выбора цвета */
.color-checkbox {
  border: none;
  margin: 42px 0 0;
  padding: 0;
}

.color-checkbox-container {
  list-style-type: none;
  margin: 20px 0 0;
  padding: 0;
}

.color-checkbox-item {
  margin-bottom: 18px;
}

.control-checkbox {
  font-size: 16px;
  line-height: 19px;
  padding-left: 36px;
  position: relative;
  display: block;
  cursor: pointer;
}

.control-checkbox:hover,
.bluetooth-label:hover {
  opacity: 0.6;
}

.control-checkbox:active,
.bluetooth-label:active {
  opacity: 0.3;
}

.control-checkbox:disabled,
.bluetooth-label:disabled {
  opacity: 0.1;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border-color: #000000;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../images/check-mark.svg");
  background-repeat: no-repeat;
  background-position: 3px 2px;
  content: "";
}

.control-input[type="checkbox"]:focus-visible + .control-mark::after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

/* Контейнер наличия Bluetooth */
.bluetooth-radio {
  padding: 0;
  margin: 29px 0 0;
  border: none;
}

.bluetooth-list {
  list-style-type: none;
  margin: 21px 0 0;
  padding: 0;
}

.bluetooth-item {
  margin-bottom: 20px;
}

.bluetooth-label {
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark-radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #cccccc;
  border-radius: 50%;
}

.bluetooth-input[type="radio"]:checked + .control-mark-radio {
  border-color: #000000;
}

.bluetooth-input[type="radio"]:checked + .control-mark-radio::before {
  position: absolute;
  width: 2px;
  height: 2px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
}

.bluetooth-input[type="radio"]:focus-visible + .control-mark-radio::after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

/* Кнопка фильтра */
.filter-button {
  margin-top: 17px;
  width: 222px;
}

/* Сортировка */
.sorting-column {
  display: grid;
  grid-template-columns: 393px 200px 200px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-items: center;
}

.sorting-column .catalog-title {
  margin-left: 40px;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  min-width: 142px;
  background-image: url("../images/selector-arrow.svg");
  background-repeat: no-repeat;
  background-position: bottom 10px right 11px;
  justify-self: start;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.select-control:disabled {
  opacity: 0.1;
}

/* Отображение результата */
.catalog-view {
  display: flex;
  justify-content: flex-end;
}

.view-button {
  width: 11px;
  height: 10px;
  position: relative;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.view-button svg {
  color: #000000;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.view-button:hover svg {
  opacity: 0.5;
}

.view-button:active svg {
  opacity: 1;
}

.view-button:focus-visible {
  outline: 2px solid #af4fff;
}

.downwards-view {
  transform: rotate(180deg);
  margin-right: -2px;
}

.upwards-view {
  margin-right: 10px;
}

/* Результат поиска */
.search-result {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.result-list {
  margin: 70px 40px 42px 40px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 44px;
}

.result-item {
  width: 360px;
}

.result-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
  position: relative;
}

/* Согласно макету это должно быть */
.icon-new {
  background-image: url("../images/catalog-goods/icon-new.svg");
  width: 60px;
  height: 60px;
  position: absolute;
  right: 27px;
  top: 27px;
  display: none;
}

.product-title {
  margin: 33px 0 0;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  max-width: 260px;
}

.product-price {
  margin-top: 34px;
  align-self: flex-start;
  line-height: 21px;
  color: #444444;
  max-width: 90px;
}

.product-button {
  padding: 10px 0;
  background-color: transparent;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: absolute;
  width: 210px;
  text-align: center;
  color: #000000;
  top: 171px;
  left: 77px;
  z-index: 0;
  display: none;
}

.product-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #ffe17f;
  display: flex;
  z-index: -1;
}

/* Состояния для карточек товаров */
.result-link:hover :is(.product-picture, .product-title, .icon-new) {
  opacity: 0.6;
}

.result-link:hover .product-button {
  display: block;
}

.result-link:active .product-button::before {
  background-color: #ffc700;
}

.result-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Кнопка "Загрузить еще" после карточек */
.show-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 15px;
  margin: 0 40px;
  background-color: transparent;
  border: 3px solid #e5e6e5;
  cursor: pointer;
  flex-grow: 1;
}

.show-more:hover {
  border-color: #000000;
}

.show-more:active {
  border-color: #000000;
  opacity: 0.3;
}

.show-more:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Пагинация */
.pagination {
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 44px 40px 78px;
}

/* Боковые кнопки пагинации */
.pagination-link-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 25px;
}

.pagination-link-button:last-child {
  padding-left: 28px;
  padding-right: 21px;
}

.pagination-link-button:hover {
  background-color: #dcdcdc;
}

.pagination-link-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-link-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-link-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
}

.pagination-link-inner:hover {
  color: #444444;
}

.pagination-link-inner:active {
  color: rgba(68, 68, 68, 0.1);
}

.pagination-link-inner:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.present-page {
  color: rgba(68, 68, 68, 0.6);
}
